
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495519142886'); /* IE9*/
  src: url('iconfont.eot?t=1495519142886#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495519142886') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495519142886') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495519142886#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before { content: "\e607"; }

.icon-more:before { content: "\e606"; }

.icon-warn:before { content: "\e657"; }

.icon-collection:before { content: "\e608"; }

.icon-friend:before { content: "\e603"; }

.icon-msg:before { content: "\e60a"; }

.icon-look:before { content: "\e639"; }

